@charset "utf-8";


$footer-background-color: #c6f1a6;

@import "bulma/bulma";

body {
  height: 100%;
}
.blackName {
  color: black;
}
.redName {
  color: #c84013;
}
#projectName {
  text-align: center;
  font-weight: bold;
  padding-top: 30px;
  padding-left: 25px;
  padding-bottom: 30px;
  background-color: #c6f1a6;
}
article {
  text-align: center;
}
p {
  padding: 20px 0;
}
.select {
  padding: 1px 0;
}
.box {
  padding: 0;
}

